@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My App</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core"></a></p>
</div>

<section>
    <section style="padding:20px; margin-bottom:25px;" class="container-fluid text-center">
        <span><a class="btn btn-blue" asp-area="" asp-page="/myDept/Index" style="background-color:cornflowerblue; color:black; text-align:center;">Department</a></span>
        <span><a class="btn btn-light" asp-area="" asp-page="/myEmpl/Index" style="background-color:cornflowerblue; color:black;">Employees</a></span>
        <span><a class="btn btn-light" asp-area="" asp-page="/myUserRole/Index" style="background-color:cornflowerblue; color:black;">UserRole</a></span>
        <span><a class="btn btn-light" asp-area="" asp-page="/myNetUser/Index" style="background-color:cornflowerblue; color:black;">NetUser</a></span>
        <span><a class="btn btn-light" asp-area="" asp-page="/myAudit/Index" style="background-color:cornflowerblue; color:black;">Audit</a></span>
    </section>
</section>


<section class="row">
    <img src="https://media1.picsearch.com/is?gUUqzV_9UpOtSG2VvZdiDT3gCJQqPQ-h_TfohH9Atck&height=237" alt="Alternate Text" />
    <img src="https://media2.picsearch.com/is?tg6sX-IzoRHgEsD_bzYGzQfQWieg17JyqOiejulfP1E&height=207" alt="Alternate Text" />
    <img src="https://media4.picsearch.com/is?QL_O6bVEDlCJs7hFQSOq-IUxqRfJupN_frXM_osbH-I&height=216" alt="Alternate Text" />
    <img src="https://media1.picsearch.com/is?y-eZnRgxYhIICn7G0CB1hO6qwut6gpcN1XKjkwTibRo&height=251" alt="Alternate Text" />
    <img src="https://media2.picsearch.com/is?Sb2DIZtkDP7jBfbNB53FZYkxSTkYTf7LVfLSprtRbVU&height=274" alt="Alternate Text" />
</section>
